extends layout

block content 
    h1= "Days of the week"
    each days in day
        each item in days
            p #{item}
    //p #{monday}
   // p #{tuesday}
    p #{wednesday}
    p #{thursday}
    p #{friday}
    p #{saturday}
    p #{sunday}